
/*
display:none;
display:block;
display:inline-block;
display:inline;

display:flex;
 */



.parent{
    background-color:rgba(255, 0, 0, 0.479);

    display: flex;
    height: 600px;

}



.child1{
    order: 3;
}

.child2{
    order: 5;
}

.child3{
    order: 1;
}

.child4{
    order: 4;
}

.child5{
    order: 2;
}


.child{
    width: 120px;
    height: 120px;
    border-radius: 12px;
    background-color: rgba(0, 0, 255, 0.597);
    padding:20px;
    margin: 4px;
  }
